useDynLib( highlight )

import( codetools )
import( utils )

export( highlight )
export( parser )
export( grammar.symbols )
export( nlines) 
export( count.chars )

export( simple_detective )

exportPattern( "_latex$" )
exportPattern( "_html$" )
exportPattern( "_xterm$" )


export( HighlightWeaveLatex )

