useDynLib( highlight )

importFrom( grDevices, rgb )
importFrom( grDevices, colors )
importFrom( grDevices, col2rgb )

importFrom( tools, vignetteEngine )

export( highlight )
export( css.parser )

export( simple_detective )

export( getStyleFile )
export( renderer )
export( styler )

exportPattern( "_latex$" )
exportPattern( "_html$" )
exportPattern( "_verbatim$" )

export( HighlightWeaveLatex )
export( Htangle )
export( Hweave  )

export( external_highlight )
export( highlight_output_types )
export( highlight_themes )

