<%
input <- req$body()
payload <- rawToChar( input$read() )

tf <- tempfile()
writeLines( payload, tf )

out <- tempfile()
highlight( tf, renderer = renderer_html(doc=FALSE), output = out )

writeLines( readLines(out), sep = "\r\n" )

%>

