<!DOCTYPE html>
<html>
<head>
    <title>Highlight app</title>
    <script src="../javascript/prototype.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="../css/highlight.css" />
         
    <script type="text/javascript">
    function highlight(){
    
        new  Ajax.Updater( 'results', 'highlight.rhtml',
		{
			'method': 'post', 
			'contentType': "text/plain", 
			'parameters': { "code" : $("code").value, "bla" : "bla" } ,
		}
	);
        
    }
    </script>
    
</head>
<body>
      
<div id="main">
    
    <form id="hform">
        <textarea cols=80 rows=10 id="code" name="code"></textarea>
    </form>
    
<button id="button" value="highlight" onclick="highlight()" ></button>
    

    <div id="results">
    blabla
    </div>
    
</div>
</body>
</html>
